*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --news-feed-color-main: #023047;
}


body
{
    background-color:  gray;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 80%;
    margin: auto;
    background-color: var(--news-feed-color-main);
}

#pageTitle
{
    background-color: var(--news-feed-color-main);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#mainSite
{
    width: 75%;
    margin: auto;
}

.news
{
    background-color: white;
    width: 100%;
}
.titleNewsBox
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.titleNews
{
    font-size: 2rem;
    font-weight: bolder;
}

.bookmark
{
    font-size: 2rem;
    font-weight: bold; 
}
.published
{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;
}

.dated
{
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.content
{
    font-size: 1.3rem;
    padding-left: 0.5rem;
}

img
{
    width: calc( 100% - 1rem);
    margin: 0.5rem;
}

.tags
{
    display: flex;
    background-color: white;
    margin-bottom: 3rem;
}

.tag
{
    color: white;
    padding: 0.5rem;
    border-radius: 0.8rem;
    background-color: red;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
footer
{
    height: 0.01rem;
    background-color:  var(--news-feed-color-main);
}

#selections
{
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
}
.labelSelect
{
    padding-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
}
#selectBox
{
    display: flex;
}
select
{
    font-size: 1.2rem;
}
#checkBox
{
    display: flex;
}

.warning
{
    text-align: center;
    height: 6rem;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
    background-color: vat(--news-feed-color-main);
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

select option:checked,
select option:hover 
{
  background: orange 
}